# Virtual Environment
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*.so

# Environment Variables (Secrets)
.env

# Database
instance/
*.db
*.sqlite3

# Node modules (for Tailwind)
node_modules/

# IDEs
.vscode/
.idea/

# Logs
*.log
